<?xml version="1.0" encoding="UTF-8"?>
<InputBean xml:space="preserve">
    <docPath>service-messages.xls</docPath>
    <keyClassOutputDir>../../src/main/java</keyClassOutputDir>
    <keyClassPackageName>org.terasoluna.tourreservation.domain.common.constants</keyClassPackageName>
    <keyClassName>MessageId</keyClassName>
    <keyClassEncoding>UTF-8</keyClassEncoding>
    <propertyFileOutputDir>../../src/main/resources/i18n</propertyFileOutputDir>
    <propertyFileBaseName>service-messages</propertyFileBaseName>
    <propertyFileEncoding>UTF-8</propertyFileEncoding>
    <xlsSheetName>.*</xlsSheetName>
    <xlsTitleName>message</xlsTitleName>
    <idColumnName>MESSAGEID</idColumnName>
    <messageColumnName>OUTPUT</messageColumnName>
</InputBean>
