/*************************************
   WELCOME TO THE CUSTOM STYLESHEET
--------------------------------------
              style.css
        BlueTrip CSS Framework
    Put your custom styles in here.
***************************************/

/**************************************/
/*           COLOR SCHEME             */
/**************************************
- black     #000
- white     #fff
-           #
-           #
-           #
***************************************/

/**************************************/
/*              GLOBALS               */
/**************************************/

/**************************************/
/*              HEADER                */
/**************************************/

/**************************************/
/*             NAVIGATION             */
/**************************************/

/**************************************/
/*            MAIN CONTENT            */
/**************************************/
.pagination {
    height: 36px;
    margin: 18px 0;
    text-align: center;
}

.pagination ul {
    display: inline-block;
    *display: inline;
    /* IE7 inline-block hack */
    *zoom: 1;
    margin-left: 0;
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.pagination li {
    display: inline;
}

.pagination a {
    float: left;
    padding: 0 14px;
    line-height: 34px;
    text-decoration: none;
    border: 1px solid #ddd;
    border-left-width: 0;
}

.pagination a:hover,.pagination .active a {
    background-color: #f5f5f5;
}

.pagination .active a {
    color: #999999;
    cursor: default;
}

.pagination .disabled a,.pagination .disabled a:hover {
    color: #999999;
    background-color: transparent;
    cursor: default;
}

.pagination li:first-child a {
    border-left-width: 1px;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}

.pagination li:last-child a {
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}

.pagination-centered {
    text-align: center;
}

.pagination-right {
    text-align: right;
}

/* navigation list */
ul#navigation li {
    margin: 2px;
    list-style: none;
    float: left;
}

ul#navigation span.ui-icon {
    float: left;
    margin: 5px 4px;
}
/* inline list */
ul.inline {
    padding-left: 0px;
}

ul.inline li {
    margin: 2px;
    list-style: none;
    float: left;
}
/* skin tables */
table thead tr th a {
    color: black;
}

table tfoot tr td {
    text-align: center;
}

/* table tr th { */
/*     width: 100px; */
/* } */

tbody tr:nth-child(even) td,tbody tr.even td {
    background: #F8F8FF;
    border: 1px;
}

thead th {
    background: lightGrey;
}

tfoot tr th {
    font-weight: normal;
}

table {
    border-color: lightGrey;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
}
/* label */
label {
    font-weight: normal;
}
/**************************************/
/*               FOOTER               */
/**************************************/